<body ng-controller="EditHappinessStatsCtrl">

<h1>FrontEnd Happinessr</h1>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">ALERTA!!</h1>
    <p class="lead">Estas a punto de hacer una modificación en el siguiente campo <br> 
                    Cuando estes seguro de la modificación que vas a realizar pulsa ACTUALIZAR <br>
                    POR FAVOR SE CUIDADOSO, UNA VEZ HAGAS EL CAMBIO NO HAY VUELTA ATRÁS
    </p>
  </div>
</div>

<table class="table">
    <!-- CABECERAS -->
    <thead>
        <tr>
            <th>Pais</th>
            <th>Año</th>
            <th>Rango de felicidad</th>
            <th>Limite inferior de confianza</th>
            <th>Limite superior de confianza</th>
        </tr>
    </thead>
    <!-- DATOS -->
    <tbody>
        <tr>
            <td>{{ happiness_stat.country }}</td>
            <td>{{ happiness_stat.year }}</td>
            <td>
                <input class="form-control text-center" ng-model="happiness_stat.happinessScore" />
            </td>
            <td>
                <input class="form-control text-center" ng-model="happiness_stat.lowerLimitTrust" />
            </td>
            <td>
                <input class="form-control text-center" ng-model="happiness_stat.upperLimitTrust" />
            </td>
            <td><button value="editar" class="btn btn-outline-warning" ng-click="editar()">Modificar</button></td>
        </tr>
    </tbody>
</table>
</body>

</html>


<!--

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">ALERTA!!</h1>
    <p class="lead">Estas a punto de hacer una modificación en el siguiente campo <br> 
                    Cuando estes seguro de la modificación que vas a realizar pulsa ACTUALIZAR <br>
                    POR FAVOR SE CUIDADOSO, UNA VEZ HAGAS EL CAMBIO NO HAY VUELTA ATRÁS
    </p>
  </div>
</div>

<table class="table table-striped">
    
    <thead>
        
        <tr ng-model="suicide_rates">
            <th colspan="5" class="text-center"><h2>Esta Editando: {{  happiness_stats[0].country }} {{  happiness_stats[0].year }}</h2></th>
        </tr>
        
        <tr>
            <th scope="col" class="text-center">Rango de felicidad</th>
            <th scope="col" class="text-center">Límite Inferior de confianza</th>
            <th scope="col" class="text-center">limite superior de confianza</th>
        </tr>
    </thead>
    
    <tbody>
        
        <tr ng-model="happiness_stats">
            <td class="text-center">
                <input 
                    type="text"
                    class="form-control text-center bg-secondary text-white"
                    name="updateSuicideRateNoSuicidesMan"
                    ng-model="happiness_stats[0].noSuicidesMan"
                />
            </td>
            
            <td class="text-center">
                <input 
                    type="text"
                    class="form-control text-center bg-secondary text-white"
                    name="updateSuicideRateNoSuicidesWoman"
                    ng-model="suicide_rates[0].noSuicidesWoman"
                />
            </td>
            
            <td class="text-center">
                <input 
                    type="text"
                    class="form-control text-center bg-secondary text-white"
                    name="updateSuicideRateRank"
                    ng-model="suicide_rates[0].rank"
                />
                
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                <button class="btn btn-primary btn-lg btn-block" ng-click="editSuicideRates(suicide_rates[0])">ACTUALIZAR ESTADÍSTICA</button>
            </td>
        </tr>
        
    </tbody>
</table>
-->
