<div class="container-fluid">
    <h1 class="bg-dark text-white text-center">Suicide-Rates FrontEnd</h1>
</div>


<br>


<div class="alert alert-warning" role="alert">
    <p>
        Esta usted en la ventana de edición de estadísticas. <br>
        Para editar algún valor de la estadística indicada, solo ha de colocarse en el valor a editar, borrarlo y escribir el nuevo valor. Tras ésto pulse el botón "ACTUALIZAR ESTADÍSTICA". <br>
        <br>Tenga en cuenta que:
        <ul>
            <li>
                Si no puede borrar algún valor, se debe a que ese campo en concreto no es editable.
            </li>
            <li>
                Cualquier cambio que realice aquí se hará permanente tras pulsar el botón "ACTUALIZAR ESTADÍSTICA".
            </li>
            <li>
                Tras pulsar el botón "ACTUALIZAR ESTADÍSTICA" se le redirigirá de nuevo a la página principal.
            </li>
        </ul>
        
        <strong class="text-danger">Si no quiere editar la estadística, puede volver a la página principal pulsando <a href="#!/suicide-rates" class="text-danger">aquí</a> .</strong>
        
    </p>
</div>

<br>


<div class="row">
    
    <div class="col">
        <div class="bg-dark text-white card">
            
            <div class="card-header">
                <h3 class="text-center">Petición Realizada</h3>
            </div>
            
            <div class="card-body">
                <textarea 
                        rows="4"
                        name="systemRequest"
                        readonly="readonly"
                        class="form-control overflow-auto"
                        ng-model="systemRequest"
                >
                </textarea>
            </div>
            
        </div>
    </div>
    
    <div class="col">
        <div class="bg-dark text-white card">
            
            <div class="card-header">
                <h3 class="text-center">Mensaje del Sistema</h3>
            </div>
            
            <div class="card-body">
                <textarea
                        rows="4"
                        name="systemResponse"
                        readonly="readonly"
                        class="form-control overflow-auto"
                        ng-model="systemResponse"
                >
                </textarea>
            </div>
            
        </div>
    </div>
    
</div>


<br>


<table class="table table-hover table-dark">
    
    <thead>
        
        <tr ng-model="suicide_rates">
            <th colspan="5" class="text-center"><h2>Esta Editando: {{  suicide_rates[0].country }} {{  suicide_rates[0].year }}</h2></th>
        </tr>
        
        <tr>
            <th scope="col" class="text-center">No. Suicidios Masculinos</th>
            <th scope="col" class="text-center">No. Suicidios Femeninos</th>
            <th scope="col" class="text-center">Ranking</th>
        </tr>
    </thead>
    
    <tbody>
        
        <tr ng-model="suicide_rates">
            <td class="text-center">
                <input 
                    type="text"
                    class="form-control text-center bg-secondary text-white"
                    name="updateSuicideRateNoSuicidesMan"
                    ng-model="suicide_rates[0].noSuicidesMan"
                />
            </td>
            
            <td class="text-center">
                <input 
                    type="text"
                    class="form-control text-center bg-secondary text-white"
                    name="updateSuicideRateNoSuicidesWoman"
                    ng-model="suicide_rates[0].noSuicidesWoman"
                />
            </td>
            
            <td class="text-center">
                <input 
                    type="text"
                    class="form-control text-center bg-secondary text-white"
                    name="updateSuicideRateRank"
                    ng-model="suicide_rates[0].rank"
                />
                
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                <button class="btn btn-primary btn-lg btn-block" ng-click="editSuicideRates(suicide_rates[0])">ACTUALIZAR ESTADÍSTICA</button>
            </td>
        </tr>
        
    </tbody>
</table>


</br>


<span class="text-center">
    <div class="bg-dark text-white">
        <button
            class="btn btn-dark"
            ng-click="previusPage()"
        >
            Página Anterior
        </button>
        
        <span ng-model="page">-- {{ page }} --</span>
        
        <button
            class="btn btn-dark"
            ng-click="nextPage()"
        >
            Siguiente Página
        </button>
    </div>
</span>