<div class="container-fluid bg-dark">
    <h1 class="bg-dark text-white text-center"><strong>SOS1819-04</strong></h1>
</div>

<br><br>

<div>
    <h1 class="text-center text-white">~~ TEAM DEVELOPERS ~~</h1>
    
    <div class="row">
        
        <div class="col">
            <div class="bg-dark text-white card">
                
                <div class="card-header">
                    
                    <h3 class="text-center">
                        <a href="https://github.com/adrfergonsos" class="text-white">
                            ADRIÁN FERNÁNDEZ
                        </a>
                    </h3>
                    
                </div>
                
                <div class="card-body">
                    
                    <div>
                        <img src="./imagenes/Adrian.jpg" class="text-center w-100 figure-img img-fluid rounded"></img>
                    </div>
                    <br>
                    <div>
                        <button class="btn btn-outline-success btn-lg btn-block" ng-click="goAplication(1)">
                            GO TO APLICATION
                        </button>
                    </div>
                    
                </div>
                
            </div>
        </div>
        
        
        <div class="col">
            <div class="bg-dark text-white card">
                
                <div class="card-header">
                    
                    <h3 class="text-center">
                        <a href="https://github.com/amarinme" class="text-white">
                            ANA MARÍN
                        </a>
                    </h3>
                    
                </div>
                
                <div class="card-body">
                    
                    <div>
                        <img src="./imagenes/UserIcon.png" class="text-center w-100 figure-img img-fluid rounded"></img>
                    </div>
                    <br>
                    <div>
                        <button class="btn btn-outline-success btn-lg btn-block" ng-click="goAplication(2)">
                            GO TO APLICATION
                        </button>
                    </div>
                    
                </div>
                
            </div>
        </div>
        
        
        <div class="col">
            <div class="bg-dark text-white card">
                
                <div class="card-header">
                    
                    <h3 class="text-center">
                        <a href="https://github.com/juanpedroC" class="text-white">
                            JUAN PEDRO CARMONA
                        </a>
                    </h3>
                    
                </div>
                
                <div class="card-body">
                    
                    <div>
                        <img src="./imagenes/JuanPedro.jpeg" class="text-center w-100 figure-img img-fluid rounded"></img>
                    </div>
                    <br>
                    <div>
                        <button class="btn btn-outline-success btn-lg btn-block" ng-click="goAplication(3)">
                            GO TO APLICATION
                        </button>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>


<br>
<div class="container-fluid bg-dark border-bottom"></div>
<br>


<h1 class="text-center text-white">~~ PROYECT DESCRIPTION ~~</h1>
    <p class="text-center text-white">
        Relationship between happiness, beer consumption and suicide rates. <br>
        Is really beer a factor to be considered in happiness? <br>
        Has one lower rate of suidicios a population with a higher happiness index?
    </p>
    

<br>
<div class="container-fluid bg-dark border-bottom"></div>
<br>


<h1 class="text-center text-white">~~ REPOSITORY ~~</h1>

    <p class="text-center text-white"> 
        <a
            href = "https://github.com/gti-sos/SOS1819-04"
            title = "gti-sos/SOS1819-04."
            class="text-white"
        > 
           gti-sos/SOS1819-04. 
        </a> 
    </p>

    
    
<br>
<div class="container-fluid bg-dark border-bottom"></div>
<br>


<h1 class="text-center text-white">~~ APIS ~~</h1>
        
    <p class="text-center text-white">
        <a
            href = "https://sos1819-04.herokuapp.com/api/v1/suicide-rates/docs"
            title = "https://sos1819-04.herokuapp.com/api/v1/suicide-rates/docs"
            class="text-white"
        > 
            https://sos1819-04.herokuapp.com/api/v1/suicide-rates/docs.
        </a> 
            (developed by 
        <a
            href = "https://github.com/adrfergonsos"
            title = "Adrián Fernández González."
            class="text-white"
        > 
            Adrián Fernández González. 
        </a> 
            )
    </p>
    
    <p class="container-fluid w-25 border-bottom border-secondary"></p>

    <p class="text-center text-white"> 
        <a
            href = "https://sos1819-04.herokuapp.com/api/v1/happiness-stats/docs"
            title = "https://sos1819-04.herokuapp.com/api/v1/happiness-stats/docs"
            class="text-white"
        > 
            https://sos1819-04.herokuapp.com/api/v1/happiness-stats/docs. 
        </a>
            (developed by 
        <a
            href = "https://github.com/amarinme"
            title = "Ana Marín Medina."
            class="text-white"
        > 
            Ana Marín Medina. 
        </a> 
            )
    </p>
    
    <p class="container-fluid w-25 border-bottom border-secondary"></p>
    
    <p class="text-center text-white"> 
        <a
            href = "https://sos1819-04.herokuapp.com/api/v1/beer-consumed-stats/docs"
            title = "https://sos1819-04.herokuapp.com/api/v1/beer-consumed-stats/docs"
            class="text-white"
        > 
            https://sos1819-04.herokuapp.com/api/v1/beer-consumed-stats/docs. 
        </a> 
            (developed by 
        <a
            href = "https://github.com/juanpedroC"
            title = "Juan Pedro Carmona Castaño."
            class="text-white"
        > 
            Juan Pedro Carmona Castaño. 
        </a> 
            )
    </p>


<br>
<div class="container-fluid bg-dark border-bottom"></div>
<br>


<h1 class="text-center text-white">~~ MINI POSTMANS ~~</h1>

    <p class="text-center text-white"> 
        <a
            href = "https://sos1819-04.herokuapp.com/api/v1/suicide-rates/minipostman_ss"
            title = "https://sos1819-04.herokuapp.com/api/v1/suicide-rates/minipostman_ss"
            class="text-white"
        > 
            Mini Postman of Suicide-Rates's APP.
        </a> 
            (developed by 
        <a
            href = "https://github.com/adrfergonsos"
            title = "Adrián Fernández González."
            class="text-white"
        > 
            Adrián Fernández González. 
        </a> 
            )
    </p>
    
    <p class="container-fluid w-25 border-bottom border-secondary"></p>
    
    <p class="text-center text-white"> 
        <a
            href = "https://sos1819-04.herokuapp.com/api/v1/happiness-stats/minipostman_hs"
            title = "https://sos1819-04.herokuapp.com/api/v1/happiness-stats/minipostman_hs"
            class="text-white"
        > 
            MiniPostman of happiness stats APP.
        </a> 
            (developed by 
        <a
            href = "https://github.com/amarin"
            title = "Ana Marín Medina."
            class="text-white"
        > 
            Ana Marín Medina. 
        </a> 
            )
    </p>
    
    <p class="container-fluid w-25 border-bottom border-secondary"></p>
    
    <p class="text-center text-white"> 
        <a
            href = "https://sos1819-04.herokuapp.com/api/v1/beer-consumed-stats/minipostman_bc"
            title = "https://sos1819-04.herokuapp.com/api/v1/beer-consumed-stats/minipostman_bc"
            class="text-white"
        > 
            MiniPostman of beer consumed stats APP.
        </a> 
            (developed by 
        <a
            href = "https://github.com/juanpedroC"
            title = "Juan Pedro Carmona Castaño."
            class="text-white"
        > 
            Juan Pedro Carmona Castaño. 
        </a> 
            )
    </p>


<br>
<div class="container-fluid bg-dark border-bottom"></div>
<br>


<h1 class="text-center text-white">~~ FRONTEND ~~</h1>

    <p class="text-center text-white"> 
        <a
            href = "https://sos1819-04.herokuapp.com/ui/v1/suicide-rates"
            title = "https://sos1819-04.herokuapp.com/ui/v1/suicide-rates"
            class="text-white"
        > 
            FrontEnd of Suicide-Rates's APP.
        </a>
            (developed by 
        <a
            href = "https://github.com/adrfergonsos"
            title = "Adrián Fernández González."
            class="text-white"
        > 
            Adrián Fernández González. 
        </a> 
            )
    </p>
    
    <p class="container-fluid w-25 border-bottom border-secondary"></p>
    
    <p class="text-center text-white"> 
        <a
            href = "https://sos1819-04.herokuapp.com/ui/v1/happiness-stats"
            title = "https://sos1819-04.herokuapp.com/ui/v1/happiness-stats"
            class="text-white"
        > 
            FrontEnd of happiness stats APP.
        </a> 
            (developed by 
        <a
            href = "https://github.com/amarinme"
            title = "Ana Marín Medina."
            class="text-white"
        > 
            Ana Marín Medina. 
        </a> 
            )
    </p>
    
    <p class="container-fluid w-25 border-bottom border-secondary"></p>
    
    <p class="text-center text-white"> 
        <a
            href = "https://sos1819-04.herokuapp.com/ui/v1/beer-consumed-stats"
            title = "https://sos1819-04.herokuapp.com/ui/v1/beer-consumed-stats"
            class="text-white"
        > 
            FrontEnd of beer consumed stats APP.
        </a> 
            (developed by 
        <a
            href = "https://github.com/juanpedroC"
            title = "Juan Pedro Carmona Castaño."
            class="text-white"
        > 
            Juan Pedro Carmona Castaño. 
        </a> 
            )
    </p>

