<!DOCTYPE html>
<html ng-app="BeerConsumedStatsFrontEnd">

<head>
    <meta charset="utf-8">
    <title>FrontEnd</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>

    <script type="text/javascript" src="beer_consumed_stats_frontend.js"></script>
    <script type="text/javascript" src="main-ctrl.js"></script>
</head>

<body ng-controller="MainCtrl">
    <h1>FrontEnd Beer</h1>
    <div style="padding-top:20px">
        <label><h5 style="color: red">STATUS CODE:</h5></label>
        <textarea class="form-control" ng-model="status" rows="1"></textarea>
    </div>

    <table class="table">
        <!-- CABECERAS -->
        <thead>
            <tr>
                <th>Pais</th>
                <th>Año</th>
                <th>Ratio</th>
                <th>Variación</th>
                <th>Consumo del País</th>
            </tr>
        </thead>
        <!-- DATOS -->
        <tbody>
            <tr ng-repeat="beer_consumed in beer_consumeds">
                <td>{{ beer_consumed.country }}</td>
                <td>{{ beer_consumed.year }}</td>
                <td>{{ beer_consumed.rating }}</td>
                <td>{{ beer_consumed.variation }}</td>
                <td>{{ beer_consumed.countryConsumition }}</td>
                <td><button class="btn btn-outline-danger" ng-click="deleteOne(beer_consumed.country,beer_consumed.year)">Borrar</button></td>

            </tr>

            <!-- AÑADIR RECURSO -->
            <tr>
                <td><input class="form-control text-center" ng-model="newBeer.country" value="nuevo pais" /></td>
                <td><input class="form-control text-center" ng-model="newBeer.year" value="nuevo año" /></td>
                <td><input class="form-control text-center" ng-model="newBeer.rating" value="nuevo rango " /></td>
                <td><input class="form-control text-center" ng-model="newBeer.variation" value="nueva Variacion" /></td>
                <td><input class="form-control text-center" ng-model="newBeer.countryConsumition" value="nuevo consumo del pais" /></td>
                <td>
                    <buttom class="btn btn-primary" ng-click="postData()">Añadir</buttom>
                </td>
            </tr>
            <!-- BUSQUEDA -->
            <tr>
                <td><input class="form-control text-center" ng-model="consulta.country" value="country" /></td>
                <td><input class="form-control text-center" ng-model="consulta.year" value="year" /></td>
                <td><button class="btn btn-outline-info" ng-click="busqueda(consulta.country,consulta.year)">Buscar</button></td>
            </tr>

            <!-- BOTON DE BORRAR TODO -->
            <tr>
                <td><button class="btn btn-danger" ng-click="deleteAll()">BORRADO COMPLETO</button></td>
                <td><button class="btn btn-outline-success" ng-click="loadInitialData()">Restaurar</button></td>
            </tr>
        </tbody>
        
         <span class="text-center">
            <div class="bg-white text-red">
                <button
                    class="btn btn-outline-success"
                    ng-click="previusPage()"
                >
                    Página Anterior
                </button>
                
                <span ng-model="page">-- {{ page }} --</span>
                
                <button
                    class="btn btn-outline-success"
                    ng-click="nextPage()"
                >
                    Siguiente Página
                </button>
            </div>
        </span>
    </table>
</body>

</html>